{
    "name": "{{name}}.js",
    "description": "{{description}}",
    "version": "{{version}}",
    "author": "{{author}} <{{email}}>",
    "keywords": [ "{{name}}.js" ],
    "main": "index.js",
    "bin": { "{{name}}": "./bin/{{name}}.js" },
    "repository": {
    "type": "git",
        "url": "git@github.com:{{author}}/{{name}}.js.git"
    },
    "dependencies": {
    }
}