{
    "name": "{{name}}",
    "description": "{{description}}",
    "version": "{{version}}",
    "author": "{{author}} {{email}}",
    "keywords": [ "{{name}}" ],
    "main": "index.js",
    "bin": { "{{name}}": "./bin/{{name}}" },
    "repository": {
    "type": "git",
        "url": "git@github.com:{{author}}/{{name}}.git"
    },
    "dependencies": {
    }
}